@media (max-width: 992px) {
    .form-div{
        width: 93% !important;
        text-align: center;
    }
    .dashboard-nav{
        display: block !important;
    }
    .user-name{
        font-size: 1.3em;
        font-weight: 500;
    }
}